
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(90, 153, 201);
}
.menu{
    display: flex;
    gap: 30px;
    list-style: none;
    background-color:grey;
    padding:10px;
    margin: 0;
}
.menu a{
    color: aqua;
    text-decoration: none;
    
}

h1{
    text-align: center;
}
h2{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
   gap:0px;
}
.item-a{
    background-color: red;
padding: 10px;
}
.item-b{
    background-color: #90ee90;
}
table,th,td{border: 1px solid black;
}
td,th{
    padding:10px;
}

form{
    display:flex;
    flex-direction: column;
    width: 300px;
    gap:10px;
    margin-top:20px;
}
img{
    width: 100%;
    max-width: 400px;
}
